<%= render "branches/sidebar_brokertype" %>
	
<div class="col-md-10">
	<div class="row">
		<div class="col-md-12">
			<%= render 'branches/contentarea1' %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
	  	<%= render 'branches/showchart1' %>
		</div>
		<div class="col-md-6">
			<%= render 'branches/showchart2' %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<%= render 'branches/showchart3' %>
		</div>
		<div class="col-md-6">
			<%= render 'branches/showchart4' %>
		</div>	
	</div>
</div>
