<div>
	<div class="sidebar-nav well">
		<legend>
			<h4><%= link_to @cust.cust_name, cust_path(@cust), :class => "link" %></h4>
		</legend>
		<address>
			<strong>资金账号：</strong><%= @cust.capital_account %><br/>
			<strong>开户日期：</strong><%= @cust.open_date.to_time.strftime("%F") if @cust.open_date %><br/>
			<strong>转有效：</strong><%= @cust.valid_date.to_time.strftime("%F") if @cust.valid_date %><br/>
			<strong>转考核有效：</strong><%= @cust.assessment_date.to_time.strftime("%F") if @cust.assessment_date %><br/>
			<ul class="common-divider"></ul>
		</address>
	</div>
</div>