<div class="row-fluid">
	<div class="span3 well well-small">
		<div class="btn-toolbar pull-right">
		  <div id="nav-broker-point-year" class="btn-group nav-tabs" data-toggle="buttons-radio">
				<button class="btn btn-small"><i class="icon-search"></i></button>
				<% Time.now.prev_year.strftime("%Y").upto(Time.now.end_of_year.strftime("%Y")).each do |i| %>
					<%= content_tag "button", 
							:class => "btn btn-small#{if i == Time.now.end_of_year.strftime("%Y") then " active" end}",
							:value => i do %>
						<%= i %>
					<% end %>
				<% end %>
		  </div>
		</div>
	</div>
	<div class="span9 well well-small">
		<div class="btn-toolbar">
		  <div id="nav-broker-point-month" class="btn-group nav-tabs" data-toggle="buttons-radio">
				<button class="btn btn-small">月份</button>
				<% Time.now.beginning_of_year.strftime("%Y%m").upto(Time.now.end_of_year.strftime("%Y%m")).each do |i| %>
					<%= content_tag "button", 
							:class => "btn btn-small#{if i == Time.now.strftime("%Y%m") then " active" end}",
							:value => i.at(4..5) do %>
						<%= i.at(4..5) %>
					<% end %>
				<% end %>
		  </div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="well">
		<div id="chart_1">
			<%= render 'brokers/indices/indexchart_1' %>
		</div>
	</div>
</div>
